#!/usr/bin/make -f

derives_from_ubuntu := $(shell (dpkg-vendor --derives-from Ubuntu && echo "yes") || echo "no")

%:
	dh $@ --with python3 --buildsystem=python_distutils


override_dh_auto_clean:
	find . -name \*.pyc -exec rm {} \;

override_dh_auto_build:
	python3.8 setup.py build --force

override_dh_auto_install:
	python3.8 -m pip install raven --root=debian/gitfs --prefix=/usr
	python3.8 setup.py install --force --root=debian/gitfs --no-compile -O0 --install-layout=deb  
